<settings xmlns="http://maven.apache.org/SETTINGS/1.0.0"
          xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
          xsi:schemaLocation="http://maven.apache.org/SETTINGS/1.0.0 http://maven.apache.org/xsd/settings-1.0.0.xsd">

  <servers>
    <server>
      <id>central</id>
      <username>##deployer_user##</username>
      <password>##deployer_pwd##</password>
    </server>
    <server>
      <id>galilee-mixed</id>
      <username>##deployer_user##</username>
      <password>##deployer_pwd##</password>
    </server>
  </servers>

  <mirrors>
    <mirror>
      <id>central</id>
      <name>central</name>
      <url>https://nexus.galilee.fr/repository/galilee-all</url>
      <mirrorOf>*</mirrorOf>
    </mirror>
  </mirrors>
</settings>